*{
    border: red;
}
.main{
    background-color: #3E447C;
}

h1{
    color: #CD73EB;
    justify-content: center;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: #73EBD0;
    justify-content: center;
    text-align: center;
}

li{
    color: coral;
    font-size: 35px;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: lightskyblue;
    height: 50px;
    width: 100vw;
    border-radius: 2px;
}

#corner{
    text-align: end;
    bottom: 0;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.animation{
    text-decoration: none;

}

@keyframes animation {
    0% {border-color: blue;}
    50% {border-color: yellow;width: 60vw;}
    75% {border-color: red; border-radius: 0px; width: 45vw;} 
    100% {border-color: blue; border-radius: 25px; width: 30vw}
}

.container{
    background-color: aquamarine;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable{
    padding: 1rem;
    background-color:paleturquoise;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}

ul{
    animation-name: float;
    animation-duration: 5s;
    text-align: center;
    height: 33px;
    width: 30vw;
    border-left: 20px;
    border-right: 20px;
    text-decoration: none;
    list-style: armenian;
    border-style: groove;
    border-radius: 25px;
    border-color: #73EBD0;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite

}

ul.next{
    font-size: 20px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}